<!doctype html>
<html lang="en">
  <head>
  	<title>Document Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{{url_for('static',filename='css/css/style.css')}}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Document Management System</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
		    <div class="container">
		    	<a class="navbar-brand" href="index.html">DMS</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="fa fa-bars"></span> Menu
		      </button>
		      <div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto mr-md-3">
		        	<li class="nav-item"><a href="/dashboard" class="nav-link">Home</a></li>
		        	<li class="nav-item active"><a href="/documents" class="nav-link">My Documents</a></li>
		        	<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
		        </ul>
		      </div>
		    </div>
		  </nav>
    <!-- END nav -->
  </div>
	</section>
    
        <div class="container">
                <h3>List of Documents in my Bucket</h3>
                <div class="table-responsive-sm">
                    <table class="table table-bordered">
                        <tr>
                            <th>Document Id</th>
                            <th>Document Owner</th>
                            <th>Document Link</th>
                        </tr>
                        {%for i in range(0, len)%}
                        <tr>
                            <td>{{dashboard_data[i][0]}}</td>
                            <td>{{dashboard_data[i][1]}}</td>
                            <td><a href={{dashboard_data[i][2]}}>{{dashboard_data[i][0]}}</a></td>
                        </tr>
                        {%endfor%}
                    </table>
				</div>
        </div>
   
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/popper.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/js/main.js')}}"></script>

	</body>
</html>
